<robot name="base_link" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="yaml_file" value="$(find diff_drive)/config/robot_size.yaml" />
    <xacro:property name="props" value="${xacro.load_yaml(yaml_file)['/**']['ros__parameters']}" />
    <xacro:property name="base_link_length"  value="${props['base_link_length']}" />
    <xacro:property name="base_link_width"  value="${props['base_link_width']}" />
    <xacro:property name="base_link_height"  value="${props['base_link_height']}" />
    

    <xacro:macro name="base_link" params="name">
        <link name="${name}">
            <visual>
                <geometry>
                    <box size="${base_link_length} ${base_link_width} ${base_link_height}"/>
                </geometry>
                <material name="base_link_color">
                    <color rgba="0.0 0.0 1.0 1.0"/>
                </material>
            </visual>
        </link>
    </xacro:macro>

</robot>