<robot name="base_link" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="yaml_file" value="$(find diff_drive)/config/robot_size.yaml" />
    <xacro:property name="props" value="${xacro.load_yaml(yaml_file)['/**']['ros__parameters']}" />
    <xacro:property name="wheel_radius"  value="${props['wheel_radius']}" />
    <xacro:property name="wheel_height"  value="${props['wheel_height']}" />
    <xacro:property name="wheel_mass"  value="${props['wheel_mass']}" />
    <xacro:property name="PI"  value="3.1415926535897932" />
    
    <xacro:macro name="wheel" params="name">
        <link name="${name}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${wheel_mass}"/>
                <inertia ixx="${wheel_mass * (2/5) * (wheel_radius**2)}" ixy="0" ixz="0"
                         iyx="0" iyy="${wheel_mass * (2/5) * (wheel_radius**2)}" iyz="0"
                         izx="0" izy="0" izz="${wheel_mass * (2/5) * (wheel_radius**2)}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" 
                              length="${wheel_height}"/>
                </geometry>
                <material name="wheel_color">
                    <color rgba="0.0 1.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" 
                              length="${wheel_height}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>